@model Producto

@{
    ViewData["Title"] = "Detalle Producto";
}
@Html.ValidationSummary()
<form class="formulario" asp-action="Pedidos" method="GET">
        
            <div class="form-group">
            <label for="foto" >Datos del producto</label>
            <div>
                <table class="table table-striped">
                    <thead style="display:none">
                        <tr>
                             <th scope="col">Id</th>
                             <input type="text" id="producto" name="Id" value="@Model.ProductoId">
                        </tr>
                    </thead>
                    <tbody style="display:none">
                        <tr>
                            <td scope="row" >@Model.ProductoId</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col">Especificaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.especificaciones</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.precio</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.stock</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.foto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        
        <div class="form-group text-center">
            <button class="btn btn-success" style="width:170px " tyoe="submit" >Agregar a carrito</button>
        </div>
    </form>