@model Producto

@{
    ViewData["Title"] = "Detalle Producto";
}
@Html.ValidationSummary()
    <form asp-action="agregacarrito" method="GET">
        
            <div class="form-group">
            <label for="foto" >Datos del producto</label>
            <div>
                <table class="table table-striped">
                    <thead >
                        <tr>
                             <th scope="col">Id</th>
                             
                        </tr>
                    </thead>
                    <tbody >
                        <tr>
                            <td scope="row" >@Model.ProductoId</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col">Especificaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.especificaciones</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Precio</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.precio</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Stock</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.stock</td>
                        </tr>
                    </tbody>
                    <thead>
                        <tr>
                             <th scope="col"class>Foto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row">@Model.foto</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary" style="width:170px " name="IngresarProducto">Buscar</button>
        </div>
     </form>   
        <div class="form-group text-center ">
           @Html.ActionLink("Agregar a acarrito","agregacarrito","Vendedor",new{Id= @Model.ProductoId},null)
        </div>
   