@model Producto
@{
    ViewData["Title"] = "Pedidos";
    var carrito = (List<Carrito>)ViewBag.carrito;
}
@Html.ValidationSummary()
<form class="formulario">
  <h5 class="text-left">Pedidos</h5>
  <table class="table table-striped text-center">
     <thead>
        <tr>
          
          <th scope="col"class>Cod</th>
          <th scope="col"class>Precio</th>
          <th scope="col"class>Cantidad</th>
       </tr>
    </thead>
    
      <tbody>
          @{
              float total=0.0f;
          }
 
            @foreach(var item in carrito){
                total+=(float)(item.cantidad*item.producto.precio);
                <tr>

                <td>@item.producto.ProductoId</td>
                <td>@item.producto.precio</td>
                <td>@item.producto.foto</td>
                
                <td>@item.cantidad*@item.producto.precio</td>
                <td> @Html.ActionLink("Eliminar","eliminar","Vendedor",new{Id= Model.ProductoId},null)</td>
         
                </tr>
              }
          
        </tbody>
        <tfoot>
            <tr>
                <th colspan="4">Total</th>
                <th>total</th>
            </tr>
        </tfoot>

    </table>
    <div class="form-group">
        <input type="text" class="form-control" id="nombre"  placeholder="Nombre" name="nombre">
    </div>
    <div class="text-center">
        <br>
        <button class="btn btn-success text-center"  type="submit" name="Enviar">Finalizar compra</button>
    </div>
    <div class="text-center">
        <br>
        <a href="~/Vendedor/BusquedaProducto" class="btn btn-success text-center"  type="submit" >Seguir comprando</a>
    </div>
</form>